@font-face
{
    font-family: "quantify";
    src: url("Quantify.ttf");
}

.borderbox
{
    font-family: "quantify";
    color: #d3d3d3;
}

.generaltext 
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #8f8f8f;
    background-color: #d3d3d3;
    
}

.bottext
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #000000;
    border: 2px;
    border-style: solid;
    border-color: #ffffff;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10%;
    padding-left: 10%;
    text-align: right;
    -webkit-animation: fadein 2s;
    animation: fadein 2s;
    border-radius: 15px;
    background-color:  #d3d3d3;

}


.usertext
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #000000;
    border: 2px;
    border-style: solid;
    border-color: #87ceeb;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10%;
    padding-right: 10%;
    text-align: left;
    -webkit-animation: fadein 2s;
    animation: fadein 2s;
    border-radius: 15px;
    background-color: #40e0d0 ;

}


.pending
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #000000;
    text-align: center;
    -webkit-animation: fadein 2s;
    animation: fadein 2s;
    border-radius: 15px;
    background-color: #95b4b1;

}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

textarea
{
    resize: none;
}


#footer
{
    position:absolute;
    bottom:0;
    left: 0;
    width: 100%;
    height:80px;
}




body
{
    overflow: hidden;
}