
.borderbox
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #8f8f8f;
}

.generaltext
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #8f8f8f;
    background-color:  #d3d3d3;
    
}

.usertext
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #2952a3;
    background-color:  #d3d3d3;

}

.bottext
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #008080;
    background-color:  #d3d3d3;
}

textarea
{
    resize: none;
}

#footer
{
    position:absolute;
    bottom:0;
    left: 0;
    width: 100%;
    height:60px;
}

body
{
    overflow: hidden;
}