<!DOCTYPE html>
<html lang="en">
<head>
    
    <link rel="stylesheet" href="/static/css/foundation.css">
    <link rel="stylesheet" href="/static/css/app.css">
    <link rel="stylesheet" href="/static/css/help.css">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ProjectPyper</title>
</head>

<body>
    <!--the Header Title-->
    <div class="grid-container fluid" style="background-color: #008080;">
        <div class="grid-x grid-margin-x borderbox">
            <div class="cell small-3 medium-4">
                <img src="/static/logoPyper.jpg" style="float: left;" alt="Hugs" width="50" height="50">
            </div>
            <div class="cell small-6 medium-4 text-center">
                <h3 style="color: #ffffff; font-family: quantify">Suicide Chat Line</h3>
            </div>
            <div class="cell small-4"></div>
        </div>
    </div>

    <br> 

    <!--Outer 1-->
    <div class="grid-container fluid" id="chatbox-scroll" style="overflow-x: auto; height: 75vh;">
         <div class="grid-x margin-x margin-y" id="chatbox-append">
            <div class="cell large-2"> </div> 
            <div class="cell medium-6 large-4">
                <div class="bottext" class="media-object-section">
                    <p class="lead chatbubble">Thank you for reaching out! I'm really sorry, there's a hold on the phone line right now, but I'm here to keep you company until someone can talk to you! <br> So what's been going on? Why are you here today?</p>
                </div>
                </div>
            <div class="cell medium-11 large-10"> </div> 
            <!--<br>
            <div class="cell medium-11 large-10"> </div> 
            <br>
            <div class="cell medium-1 large-2"> </div> 
            <div class="cell medium-1 large-2"> </div> 
            <div class="cell medium-3 large-2">
                <div class="pending" class="media-object-section">
                <p class="lead" font-size="large-10"> . . . . . . </p>
                </div>
            </div> -->
        </div>
    </div>

    <!-- Bottom Bar -->
    <div class="grid-container fluid" id="footer">
        <div class="grid-x grid-margin-x">
            <div class="cell large-2"></div>
                <div class="cell medium-12 large-8">
                    <div class="input-group">
                        <textarea id="input-message" placeholder="type here"></textarea>
                        <div class="input-group-button" style="height: 50px; margin-left: 1rem;">
                            <input id="button" type="button" class="button secondary" value="Enter">
                        </div>
                    </div>  
                </div>
            <div class="cell large-2"></div> 
        </div>
    </div>

    <script src="/static/js/vendor/jquery.js"></script>
    <script src="/static/js/vendor/what-input.js"></script>
    <script src="/static/js/vendor/foundation.js"></script>
    <script src="/static/js/app.js"></script>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {
        var messageCount = 0;
        var messageDiv = document.getElementById('chatbox-append');

        var input = document.getElementById('input-message');
        input.addEventListener("keyup", function(event){
            if(event.keyCode == 13)
            {
                event.preventDefault();
                document.getElementById('button').click();
            }
        });

        $('#button').click(function() {
            var input = $('#input-message').val();
            var checkIn = input.replace(/\s/g, '');

            if(checkIn != '')
            {
                messageDiv.innerHTML += '<br><div class="cell medium-6"> </div><div class="cell medium-6 large-4"><div class="usertext fadeIn"><p class="lead chatbubble">' + input + '</p></div></div><div class="cell medium-12"></div>';

                $.ajax({
                    url: '/message',
                    type: 'POST',
                    data: {message: input},
                    success: function(data)
                    {                        
                        if(data.constructor == Object)
                        {
                            messageDiv.innerHTML = messageDiv.innerHTML.replace('fadeIn', '');
                            messageDiv.innerHTML += '<br><div class="cell large-2"></div><div class="cell medium-6 large-4"><div class="bottext fadeIn" class="media-object-section"><p class="lead chatbubble">' + data['generatedMessage'] + '<br><br>' + data['nextMessage'] + '</p></div></div><div class="cell medium-12"></div>';
                            $("#chatbox-scroll").scrollTop($("#chatbox-scroll")[0].scrollHeight);
                        }
                        else
                        {
                            var timeDelay = (Math.random() * (5000 - 2000 + 1)) + 2000;

                            setTimeout(function()
                            {
                                messageDiv.innerHTML = messageDiv.innerHTML.replace('fadeIn', '');
                                messageDiv.innerHTML += '<br><div class="cell large-2"></div><div class="cell medium-6 large-4"><div class="bottext fadeIn" class="media-object-section"><p class="lead chatbubble">' + data + '</p></div></div><div class="cell medium-12"></div>';
                                $("#chatbox-scroll").scrollTop($("#chatbox-scroll")[0].scrollHeight);
                            }, timeDelay);
                        }

                        $("#chatbox-scroll").scrollTop($("#chatbox-scroll")[0].scrollHeight); // I have no idea why the h*ck this works, but no touchy
                        messageDiv.innerHTML = messageDiv.innerHTML.replace('fadeIn', '');
                    }
                });
            }

            $('#input-message').val('');
        });
    });
    </script>
</body>
</html>

