<!DOCTYPE html>
<html lang="en">
<head>
    
    <link rel="stylesheet" href="/static/css/foundation.css">
    <link rel="stylesheet" href="/static/css/app.css">
    <link rel="stylesheet" href="/static/css/help.css">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ProjectPyper</title>
</head>

<body>
    <!--the Header Title-->
    <div class="top-bar" style="background-color: #008080;">
        <div class = "borderbox">
            <div class = "text-center" style="width: 100vw"> 
                <h3  style="color: #d3d3d3; font-family: quantify">Caring Chat Bot</h3>
            </div>
        </div>
    </div>

    <br> 

    <!--Outer 1-->
    <div class="grid-container fluid" style="overflow-x: auto; height: 75vh;">
         <div id="chatbox" class="grid-x margin-x margin-y">
            <div class="cell medium-1 large-2"> </div> 
            <div class="cell medium-4">
                <div class="bottext" class="media-object-section">
                <p class="lead"height="500">Thank you for reaching out! I'm really sorry, there's a hold on the phone line right now, but I'm here to keep you company until someone can talk to you! <br> So what's been going on? Why are you here today?</p>
            </div>
        </div>
    </div>


    <!--Outer 2-->
    <div class="grid-container fluid" id="footer">
        <div class="grid-x grid-margin-x">
            <div class="cell medium-1 large-2"></div>
                <div class="cell medium-10 large-8">
                    <div class="input-group">
                        <textarea id="input-message" placeholder="type here"></textarea>
                        <div class="input-group-button" style="height: 50px; margin-left: 1rem;">
                            <input id="button" type="button" class="button secondary" value="Enter">
                        </div>
                    </div>  
                </div>
            <div class="cell medium-1 large-2"></div> 
        </div>
    </div>


    <script src="/static/js/vendor/jquery.js"></script>
    <script src="/static/js/vendor/what-input.js"></script>
    <script src="/static/js/vendor/foundation.js"></script>
    <script src="/static/js/app.js"></script>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {
        var messageCount = 0;
        var messageDiv = document.getElementById('chatbox');

        var input = document.getElementById('input-message');
        input.addEventListener("keyup", function(event){
            if(event.keyCode == 13)
            {
                event.preventDefault();
                document.getElementById('button').click();
            }
        });

        $('#button').click(function() {
            var input = $('#input-message').val();
            $('#input-message').val('');
            messageDiv.innerHTML += "<br><div class=\"cell medium-6 large-7\"> </div> <div class=\"cell medium-4\"><div class=\"usertext\" class=\"text-box\"><p class=\"lead\" height=\"500\">" + input + "</p></div></div></div>";
            
            $.ajax({
                url: '/message',
                type: 'POST',
                data: {message: input},
                success: function(data)
                {
                    if(data.constructor == Object)
                    {
                        messageDiv.innerHTML += "<br><div class=\"cell medium-1 large-2\"> </div><div class=\"cell medium-4\"><div class=\"bottext\" class=\"media-object-section\"><p class=\"lead\" height=\"500\">" + data['generatedMessage'] + "<br><br>" + data['nextMessage'] + "</p></div>";
                    }
                    else
                    {
                        messageDiv.innerHTML += "<br><div class=\"cell medium-1 large-2\"> </div><div class=\"cell medium-4\"><div class=\"bottext\" class=\"media-object-section\"><p class=\"lead\" height=\"500\">" + data + "</p></div>";
                    }
                }
            });

            input = "";
        });
    });
    </script>
</body>
</html>

